@media (min-width: 487px) and (max-width: 768px){
    body{
        .background-wrapper{
            .container{
                .header{
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    .image-block{
                        display: none;
                    }
                    .customer-wrapper{
                        float: none;
                        .customer-block{
                            &__topic{
                                font-size: 30px;
                                line-height: 10px;
                                letter-spacing: 2px;
                            }
                        }
    
                        .customer-block__customer{
                            display: none;
                        }
    
                        .bonus-block{
                            &__percent{
                                font-size: 100px;
                            }
                            &__text{
                                font-size: 18px;
                            }
                        }
    
                        .amount-block{
                            &__amount{
                                font-size: 28px;
                            }
                            &__border{
                                font-size: 15px;
                                padding: 12px;
                                margin: 0;
                                right: 6px;
                                &:first-child{
                                    align-self: flex-start;
                                    left: 6px;
                                }
                            }
                            .arrow-wrapper__amount-down{
                                top: 118px;
                            }
                        }

                        .sign-up{
                            &:hover{
                                animation: none;
                            }
                        }
            
                    }
                }

                .main{
                    .steps{
                        display: flex;
                        justify-content: center;
                        .steps-wrapper{
                            .steps__step{
                                margin-top: 45px;
                                text-align: center;
                                .text__wrapper{
                                    &_text{
                                        font-size: 28px;
                                        padding: 15px 20px;
                                    }
                                    &_description{
                                        max-width: 260px;
                                        font-size: 18px;
                                    }
                                }
                                
     
                            }

                            .steps__step:nth-child(1){
                                &::before{
                                    left: 18px;
                                }
                            }
                            .steps__step:nth-child(2){
                                right: 0px;
                                &::before{
                                    padding: 8px 14px;
                                }
                            }
        
                            .steps__step:nth-child(3){
                                &::before{
                                    padding: 8px 14px;
                                }
                            }
                            // button
                            .offer{
                                font-size: 36px;
                                margin-top: 81px;
                                &:hover{
                                    animation: none;
                                }
                            }

                            .arrow-wrapper__steps-top, .arrow-wrapper__steps-middle, .arrow-wrapper__steps-bottom{
                                .arrow{
                                    &__up, &__down{
                                        width: 10px;
                                        height: 10px;
                                    }
                                }
    
                            }

                            .arrow-wrapper__steps-top,.arrow-wrapper__steps-middle, .arrow-wrapper__steps-bottom{
                                left: 35px;
                                top: 0px;
                            }

                            .arrow-wrapper__steps-top{
                                left: 67px;
                            }

                        }
                    }
                    .icons{
                        .icon-wrapper{
                            flex-direction: column;
                            align-items: center;
                            .icons__icon{ 
                                margin-top: 50px;
                                top: 0px;
                                &:nth-child(1){
                                    margin-top: 0;
                                }

                                &:nth-child(even){
                                    top: 0px;
                                }
                            }
                        }
                    }
                    .registration{
                        .registration-wrapper{
                            
                            .registration__form{
                                flex-direction: column;
                                &::before{
                                    transform: skew(0deg);
                                    left: 0px;
                                }
                                &_input{
                                    transform: skew(0deg);
                                }
                                &_input:nth-child(2){
                                    margin: 25px 0 25px 0;
                                    
                                }
                                &_submit{
                                    transform: skew(0deg);
                                    &:hover{
                                        animation: none;
                                    }
                                    
                                }
                            }
                        }
                    }
                }

                .footer{
                    .payment-wrapper{
                        display: none;
                    }
                }
    
            }

        }
    }
}

@media (min-width: 320px) and (max-width: 486px){
    body{
       .background-wrapper{
           .container{
                .header{
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    .image-block{
                        display: none;
                    }
                    .customer-wrapper{
                        float: none;
                        .customer-block{
                            &__topic{
                                font-size: 18px;
                            }
                        }

                        .customer-block__customer{
                            display: none;
                        }

                        .bonus-block{
                            &__percent{
                                font: 100px "Montserrat-Black";
                            }
                            &__text{
                                font: 18px "Montserrat-Thin";
                            }
                        }

                        .amount-block{
                            &__amount{
                                font: 28px 'Montserrat-ExtraBold';
                            }
                            &__border{
                                font: 15px 'Montserrat-SemiBold';
                                padding: 12px;
                                margin: 0;
                                right: 6px;
                                &:first-child{
                                    align-self: flex-start;
                                    left: 6px;
                                }
                            }
                            .arrow-wrapper__amount-down{
                                top: 118px;
                            }
                        }

                        .sign-up{
                            font-size: 20px;
                            &:hover{
                                animation: none;
                            }
                        }
            
                    }
                }
                .main{
                    .steps{
                        display: flex;
                        justify-content: center;
                        .steps-wrapper{
                            .steps__step{
                                margin-top: 45px;
                                text-align: center;
                                .text__wrapper{
                                    &_text{
                                        font-size: 20px;
                                        padding: 15px 20px;
                                    }
                                    &_description{
                                        max-width: 260px;
                                        font-size: 18px;
                                    }
                                }
                                &::before{
                                    font-size: 10px;
                                }
     
                            }

                            .steps__step:nth-child(1){
                                &::before{
                                    left: 18px;
                                }
                            }
                            .steps__step:nth-child(2){
                                right: 0px;
                                &::before{
                                    padding: 8px 14px;
                                }
                            }
        
                            .steps__step:nth-child(3){
                                &::before{
                                    padding: 8px 14px;
                                }
                            }
                            // button
                            .offer{
                                font-size: 25px;
                                margin-top: 50px;
                            }

                            .arrow-wrapper__steps-top, .arrow-wrapper__steps-middle, .arrow-wrapper__steps-bottom{
                                .arrow{
                                    &__up, &__down{
                                        width: 7px;
                                        height: 7px;
                                    }
                                }
    
                            }

                            .arrow-wrapper__steps-top,.arrow-wrapper__steps-middle, .arrow-wrapper__steps-bottom{
                                left: 35px;
                                top: 0px;
                            }

                            .arrow-wrapper__steps-top{
                                left: 67px;
                            }

                        }
                    }
                    .icons{
                        margin-top: 100px;
                        .icon-wrapper{
                            flex-direction: column;
                            .icons__icon{ 
                                margin-top: 50px;
                                top: 0px;
                                &_picture{
                                    outline-offset: 10px;
                                    width: 35px;
                                    height: 35px;
                                }
                                &_description{
                                    font-size: 18px;
                                }
                                &:nth-child(1){
                                    margin-top: 0;
                                }

                                &:nth-child(even){
                                    top: 0px;
                                }
                            }
                        }
                    }
                    .registration{
                        .registration-wrapper{
                            
                            .registration__form{
                                flex-direction: column;
                                &::before{
                                    transform: skew(0deg);
                                    left: 0px;
                                    padding: 7px 20px;
                                    top: -37px;
                                    font-size: 15px;
                                }
                                &_input{
                                    width: 245px;
                                    height: 40px;
                                    transform: skew(0deg);
                                }
                                &_input:nth-child(2){
                                    margin: 25px 0 25px 0;
                                    
                                }
                                &_submit{
                                    font-size: 18px;
                                    padding: 10px;
                                    transform: skew(0deg);
                                    &:hover{
                                        animation: none;
                                    }
                                    
                                }
                            }
                        }
                    }
                    
                }
                .footer{
                    .payment-wrapper{
                        display: none;
                    }
                }  
           }
       }
    }
}

